<div class="row">
   <p class="right-align"> <%= link_to 'New Project', new_project_path, class: "waves-effect waves-light btn orange darken-2" %> </p>

  <div class="col s12 z-depth-1 card-panel"><br>
      <h5 class="center-align">All Projects</h5>


  <% if current_user.projects.count != 0 %>
    <br>
    <table class="striped">
      <thead>
        <tr>
          <th data-field="id">Project ID</th>
          <th data-field="title">Title</th>

          <th data-field="name">Project Members</th>



        </tr>
      </thead>

      <tbody>

        <% @projects.each do |project| %>
          <tr>
            
            <td>V<%= project.id %></td>
            <td><%= link_to "#{project.title}", project %></td>
            <td><p>
              <% project.users.each do |user| %>
                <%= user.name %>,
              <% end %>
            </p>
            </td>
              <td>
              <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>





          </tr>
        <% end %>
      </tbody>
    </table>



  <% else %>
    <p> Hi <%= current_user.name %>! <br>There seems to be no project associated with your account. <br>Lets change that. Submit a new project by clicking on the <a href="<%= new_project_path %>">new project</a> button.</p>
  <% end %>


  </div>

</div>
