<div class="row">
  <p class="right-align"> <a class=" modal-trigger waves-effect waves-teal btn" href="#newmessage">New Message</a></p>
  <div class="col s12 z-depth-1 card-panel">
    <div class="row blue-grey darken-1">
      <br>
      <h5 class="center-align card-content white-text">
          V<%= @project.id %> : <%= @project.title %>
      </h5>
      <div class="col s12 ">
        <ul class="tabs blue-grey darken-1 white-text">
          <li class="tab col s4"><a href="#info">Project</a></li>
          <li class="tab col s4"><a href="#message">Communication</a></li>
          <li class="tab col s5"><a href="#activity">Activities</a></li>
        </ul>
      </div>
    </div>

    <div id="info" class="col s12">

        <p>
         <b> Description:</b>
          <%= @project.description.html_safe %>
        </p>
        <p>
          <i class="material-icons tiny">date_range</i>
         <b> Start Date:</b>
          <%= @project.start_date.to_date.strftime("%d %b, %y") %>
          <i class="material-icons tiny">date_range</i>
          <b>End Date:</b>
          <%= @project.end_date.to_date.strftime("%d %b, %y") %>
        </p>

        <p class= "col s6">
          Created by: <%= @project.users.name %>
        </p>
        <p class= "col s6 right-align">

            <%= link_to 'Edit Project', edit_project_path(@project) %>

        </p>
    </div>

      <div id="message" class="col s12">

          <p><b>All Messages:</b></p>


        <div id="messages_wrapper">
          <h5><%= @project.messages.count %> messages</h3>
          <%= render @project.messages %>
        </div>



    </div>


</div>

<div class=" row project-meta">
  <p class="col s6">Project Created: <%= time_ago_in_words(@project.created_at) %> ago </p>

  <p class=" col s6 right-align">

    <%= link_to 'Back to Project list', projects_path %>
   </p>
</div>

<div id="newmessage" class="modal">
  <div class="modal-content">

          <%= render "messages/form" %>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>

</div>
