<%= form_for(@project_user) do |f| %>
  <% if @project_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_user.errors.count, "error") %> prohibited this project_user from being saved:</h2>

      <ul>
      <% @project_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.select :user_id, User.all.collect { |p| [ p.email, p.id ] } %>
  </div>
  <div class="field">
    <%= f.select :project_id, Project.all.collect { |p| [ p.title, p.id ] } %>
  </div>

  <div class="actions">
    <%= f.submit "Add member to project" %>
  </div>
<% end %>
