<%= form_for(@project_user) do |f| %>
  <% if @project_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_user.errors.count, "error") %> prohibited this project_user from being saved:</h2>

      <ul>
      <% @project_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.select :user_id, User.all { |p| [ p.email, p.id ] } %>
    <%= f.collection_select :user_id, User.all, :id, :email, { prompt: "Select Member" }, class: "browser-default" %>

  </div>
  <div class="field">
    <%= f.collection_select :project_id, Project.all, :id, :project_with_id, { prompt: "Choose a Project" }, class: "browser-default" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Add member to project", class: "btn"%>
  </div>
<% end %>
