<p id="notice"><%= notice %></p>


<td>
<%= @project_user.user_id %>
</td>

<td> <%= @project_user.project_id %> </td>

    <td><%= link_to 'Show', @project_user %></td>
    <td><%= link_to 'Edit', edit_project_user_path(@project_user) %></td>
    <td><%= link_to 'Destroy', @project_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>


<%= link_to 'Edit', edit_project_user_path(@project_user) %> |
<%= link_to 'Back', project_users_path %>
